.navbar{ border: 4px solid blueviolet;
  width: 800px;
  display: flex;
   gap: 10px;
   justify-content: space-around;
}
.menu{
display: flex;
gap: 20px;
list-style: none;
}

/*  */

.a{
    display: flex;
   }
   img{
    margin-right: 100px;
    justify-content: space-between;
  }
  .aa{
    background-color: aqua;
    width: 700px;
    margin: 30px;
  }

/*  */

  .b{
    display: flex;
    gap: 20px;
  }
  .c{
    text-align: center;
  }
  .d{
    background-color: bisque;
    width:600px ;
    padding: 20px;
  }

/*  */

  .chobi{
    display: flex;
    gap: 20px;
  }
  .what{
    background-color: blue;
    width: 800px;

  }
  .text{
    text-align: center;
  }
  .p{
    width: 50px;
  }
  .chobi>div{
  background-color: burlywood;
  padding: 10px;
  }

/*  */
  .of{
    text-align: center;
  }
  .mm{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
 }
 .summ{
  background-color: aqua;
  width: 600px;
  padding: 20px;
  margin-top: 20px;
 }
 .content{
  background-color: darkgoldenrod;
 }

 /*  */

 .full{
  display: flex;
  gap: 30px;
  background-color: blueviolet;
  margin-top: 20px;
  padding: 20px;
  width: 600px;
 }
  input{
      margin: 10px;
  }