.mohi{
 background-image: url(/WhatsApp\ Image\ 2024-07-16\ at\ 23.51.50_f3cbbb78.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 height: 200px;
 padding: 20px;
 width: 400px;
 border: solid blueviolet;
 border-radius: 20%;
 color: beige;
}   
